.hero {
  height: 17rem;
}

.btn {
  border-radius: var(--border-radius1);
  color: var(--secondry-color);
  font-size: var(--size-1);
  background: var(--red-colorl1);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: var(--red-colord2);
}
.searchbar input {
  min-width: 30rem;
  height: 3rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  background: var(--input-box-color);
  display: flex;
}
/* aside */
.routelink {
  text-decoration: none;
  color: var(--black-color);
}
.aside {
  width: 18rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: auto;

  letter-spacing: 0.01785714em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  height: 100%;
}
.aside > * {
  font-size: var(--size-1);
  line-height: 1.25rem;
  border-radius: var(--border-radius-aside);
}

.aside > :hover {
  background-color: var(--aside-hover);
}

.note {
  background-color: var(--note-bg-color);
  width: 30rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 3px solid var(--white-color);
  padding: 1rem;
}
