.note {
    background-color: var(--note-bg-color);
    width: 30rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 3px solid var(--white-color);
    padding: 1rem;
  }
  .notefooter{
    font-size: var(--size-1);
     color:var(--main-Cta-color);
     font-weight:400;
    border:2px solid var(--main-Cta-color);
    border-radius:15px;
  }
 textarea{
   border:none;
   resize:none;
   background:transparent;
   
 }
 textarea:focus{
  outline:none;
 }